node_modules/
.env
dist/
build/
.DS_Store
.vscode/
.idea/
*.log
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.cache/
*.swp
*.swo
*.bak
.venv
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.pydevproject
*.iml
out/
*.class
target/
*.jar
*.war
*.ear
.settings/
.project
.DS_Store
intake_submissions.json